/* 通用样式 */
body {
    font-family: 'Futura PT', sans-serif;
    font-weight: normal;  /* 确保默认不加粗 */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100vh; /* 设置页面高度为视口高度 */
    display: flex;
    flex-direction: column;
    align-items: center; /* 居中内容 */
    justify-content: center; /* 居中内容 */
    transform-origin: center; /* 设置缩放中心 */
}

@font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaCyrillicBook.ttf') format('truetype'),
         url('fonts/FuturaCyrillicDemi.ttf') format('truetype'),
         url('fonts/FuturaCyrillicLight.ttf') format('truetype'),
         url('fonts/FuturaCyrillicMedium.ttf') format('truetype'),
         url('fonts/FuturaCyrillicHeavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaCyrillicBold.ttf') format('truetype'),
    url('fonts/FuturaCyrillicExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* 背景图片样式 */
body {
    background-color: greysmoke; /* 背景图片文件名 */
/*    background-image: url('images/background-image.jpg'); /* 背景图片文件名 */
/*    background-size: cover; /* 使图片覆盖整个页面 */
/*    background-position: center; /* 居中显示图片 */
/*    background-attachment: fixed; /* 固定背景，滚动时背景不动 */
}

/* .site-index 显示在网页左上方 */
.site-index {
    position: absolute;   /* 固定定位 */
    top: 20px;            /* 距离顶部 0px */
    left: 20px;           /* 距离左边 0px */
    z-index: 1000;     /* 确保该元素在所有其他元素之上 */
    font-size: 15x;   /* 字体大小 */
    font-family: 'Futura PT', sans-serif;
    background-color: greysmoke;  /* 半透明黑色背景 */
    padding: 5px 10px; /* 内边距 */
    letter-spacing: 5px;  /* 增加字距，调整此值来控制字母之间的间隔 */
    border-top: 0.1px solid rgb(42, 153, 42); /* 上边框 */
    border-left: 0.1px solid rgb(42, 153, 42); /* 左边框 */
    border-bottom: 0.1px solid rgb(42, 153, 42); /* 下边框 */
    border-right: none; /* 右边框去掉 */    
    height: 30px;      /* 高度设置为 30px */
}

/* 链接样式 */
.site-index a {
    color: rgb(64, 28, 226);         /* 白色文字 */
    text-decoration: none;/* 去掉下划线 */
    font-weight: normal;  /* 设置文字为正常粗细 */
    transition: color 0.3s ease; /* 悬停效果 */
    padding: 5px 10px;    /* 给链接添加内边距 */
}

/* 悬停效果 */
.site-index a:hover {
    background-color: rgb(42, 153, 42); /* 悬停时背景色为黄色 */
    color: greysmoke;             /* 悬停时字体颜色为黑色 */
}

.language-link {
    font-size: 0.8em; /* 设置字体小一点 */
    font-style: italic; /* 设置斜体 */
    color: rgb(42, 153, 42) !important; /* 强制设置字体颜色 */
}

.site-index .separator {
    font-size: 0.6em; /* 设置分隔符字体为 0.6em，变小 */
    color: rgb(42, 153, 42); /* 设置分隔符颜色为白色 */
    margin: 0 1px; /* 设置分隔符左右间距 */
}

/* 页面头部（导航） */
header {
    position: absolute;
    top: 20px; /* 距离顶部 20px */
    right: 20px; /* 距离右边 20px */
    font-size: 15px;
    font-weight: normal;
    height: 40px;      /* 高度设置为 30px */
    background-color: greysmoke; /* 背景颜色为黑色 */
    border-top: 0.1px solid rgb(42, 153, 42); /* 上边框 */
    border-right: 0.1px solid rgb(42, 153, 42); /* 左边框 */
    border-bottom: 0.1px solid rgb(42, 153, 42); /* 下边框 */
    border-left: none; /* 右边框去掉 */    
    letter-spacing: 3px;  /* 增加字距，调整此值来控制字母之间的间隔 */
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px; /* 设置链接之间的间隔 */
    align-items: center; /* 确保链接在垂直方向上居中 */

}

header nav ul li a {
    text-decoration: none; /* 去掉链接下划线 */
    color: rgb(42, 153, 42);          /* 初始字体颜色 */
    padding: 5px 10px;     /* 给链接添加内边距 */
}

header nav ul li a:hover {
    background-color: rgb(42, 153, 42); /* 悬停时背景色为黄色 */
    color: greysmoke;             /* 悬停时字体颜色为绿色 */
}

header nav ul li {
    display: flex;
    margin: 0 10px; /* 给每个列表项设置左右间距 */

}

header nav ul li span {
    color: rgb(42, 153, 42);
    font-weight: normal;
}

header a {
    color: rgb(42, 153, 42);
    text-decoration: none; /* 去除下划线 */
    text-transform: uppercase; /* 将文字转为大写 */
    transition: color 0.3s ease;
}

header a:hover {
    color: #007bff; /* 鼠标悬停时改变颜色 */
}

/* 中央内容区域 */
main {
    text-align: center;
    color: rgb(42, 153, 42); /* 设置字体颜色为白色 */
    padding: 20px;
}

/* 主页标题 */
h1 {
    font-size: 3em;
    margin: 0;
    font-family: 'Futura PT', sans-serif;
    font-weight: normal;
    line-height: 5; /* 增大行距 */
    padding-bottom: 10px; /* 可选，增加底部间距 */
    letter-spacing: 27px;  /* 增加字距，调整此值来控制字母之间的间隔 */
}


/* 主页描述 */
p {
    font-size: 1.5em;
    margin: 10px 0;
}


/* About 页面布局样式 */
.about-container {
    display: flex;
    justify-content: center;  /* 居中对齐 */
    align-items: flex-start;
    width: 100%; /* 设置容器宽度 */
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

.about-image {
    flex: 1; /* 右侧部分占据 2/3 宽度 */
    position: absolute; /* 固定位置 */
    padding: 90px 20px;
    transform: translateX(-90%); /* 垂直居中 */
    text-align: left;
    margin-right: 80px; /* 增加右边距，控制图片与文字的间距 */
}

.about-image img {
    width: 100%; /* 使图片宽度填满容器 */
    height: auto;
    max-width: 400px; /* 限制最大宽度 */
}

.about-content {
    flex: 2; /* 右侧部分占据 2/3 宽度 */
    padding: 80px 20px;
    text-align: left;
    font-size: 1em;
    color: grey; /* 设置文字颜色为白色 */
    background-color: greysmoke;  /* 不透明灰色背景 */
    padding: 20px;  /* 内边距 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* 阴影效果 */
    margin-left: 450px;  /* 左侧间距 */
    transform: translateX(15%); /* 垂直居中 */
    max-width: 1400px;  /* 最大宽度 */
    height: calc(100vh - 300px); /* 让内容高度适配视窗减去内边距 */
    overflow-y: scroll; /* 确保文字可以滚动 */
}

/* 自定义滚动条样式 */
.about-content::-webkit-scrollbar {
    width: 6px; /* 滚动条宽度 */
    position: absolute; /* 滚动条位置设置为绝对位置 */
    right: 0; /* 使滚动条始终显示在最右侧 */
}

.about-content::-webkit-scrollbar-thumb {
    background-color: rgb(42, 153, 42); /* 滚动条颜色 */
    border-radius: 6px; /* 圆角 */
}

.about-content::-webkit-scrollbar-track {
    background-color: #e6e5e5; /* 滚动条轨道颜色 */
    border-radius: 6px; /* 圆角 */
}

.about-content h2 {
    font-size: 2em;
    margin-bottom: 10px;
    font-family: 'Futura PT', sans-serif;
    font-weight: normal;  /* 确保默认不加粗 */
}

.about-content p {
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 1.1em;
}

.about-container p.adjust-line-height {
    line-height: 0.1;
}


.video-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
    margin-left: 180px; /* 向左移动整体内容，调整该值控制偏移量 */
    margin-top: 1180px; /* 向左移动整体内容，调整该值控制偏移量 */
}

.video-title {
    text-align: left;
    font-size: 2em;
    color: rgb(42, 153, 42);
    margin-bottom: 5px;
}

/* 视频列表样式 */
.video-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* 每个视频项目的容器 */
.video-item {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 20px; /* 视频与文字之间的间隔 */
}

/* 视频容器样式 */
.video-container {
    flex: 0 0 200%; /* 视频容器占据 60% 宽度 */
    position: relative;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9; /* 保证视频比例为 16:9 */
    border: none;
}

/* 视频文字介绍容器 */
.video-caption {
    flex: 0 0 60%;
    background-color: greysmoke;
    color: grey;
    padding: 40px;
    font-size: 0.5em;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 页脚 */
footer {
    position: fixed;
    bottom: 8px;
    right: 10px;
    font-size: 8px;
    color: orange;
}

@media screen and (max-width: 768px) {
    .about-container {
        flex-direction: column; /* 改为垂直排列 */
    }

    .about-image, .about-content {
        flex: none;
        width: 100%;
        padding: 10px;
    }

    .about-image img {
        max-width: 100%;
    }
    .video-item {
        flex-direction: column; /* 小屏幕上，视频和文字堆叠 */
        gap: 10px;
    }
    .video-container {
        width: 100%;
        height: auto;
    }
    .video-caption {
        width: 100%;
    }
}

